- if user_signed_in?
  %header
    #exit-content
      %a#button-exit{:href => "/users/sign_out"}
        = fa_icon("sign-out-alt")
    #red-content
      %a#button-post{:href => "/posts"}
        = fa_icon("edit")
    #yellow-content
      %a#button-fav-ranking{:href => "~"}
        = fa_icon("star")
    #blue-content
      %a#button-mypage{:href => "/users/#{current_user.id}"}
        = fa_icon("user")
