= devise_error_messages!
%h2.center-align アカウント編集
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .row
    .input-field.col.s6.offset-s2
      %i.material-icons.prefix account_circle
      = f.text_field :name, autofocus: true, autocomplete: "name"
      %label{:for => "icon_prefix"} 名前
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    .input-field.col.s6.offset-s2
      %i.material-icons.prefix lock
      = f.password_field :password, autocomplete: "new-password"
      %label{:for => "icon_prefix"} 新しいパスワード
    .input-field.col.s6.offset-s2
      %i.material-icons.prefix lock
      = f.password_field :password_confirmation, autocomplete: "new-password"
      %label{:for => "icon_prefix"} パスワード確認
    .input-field.col.s6.offset-s2
      %i.material-icons.prefix lock
      = f.password_field :current_password, autocomplete: "current-password"
      %label{:for => "icon_prefix"} 古いパスワード
    .col.s4.offset-s2
      %i.material-icons.prefix image
      = f.select :image, [["男性", "men.png"], ["女性", "women.png"], ["うさぎ", "usagi.png"], ["いぬ", "dog.png"], ["ねこ", "cat.png"], ["あらいぐま", "araiguma.png"], ["さる１", "monkey1.png"], ["さる２", "monkey2.png"], ["さる３", "monkey3.png"], ["おばさん", "obasan.png"]], {}, { class: 'browser-default'}
    %button.btn.waves-effect.waves-light.blue{:name => "action", :type => "submit"}
      更新
    = link_to "戻る", :back
